html, body {
    margin: 0;
    padding: 0;
}

.app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 16px;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
}