.participant-row {
    display: flex;
    text-align: left;
    padding: 16px;
    font-size: 16px;
    border-bottom: 1px solid #FFD836;
}

.participant-row > div {
    padding: 0 8px;
}

.participant-row .check {
    width: 15%;
    text-align: left;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.participant-row .name {
    width: 65%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.participant-row .contribution {
    width: 20%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
}

.participant-row .btn-remover-part {
    padding: 2px 8px;
    margin: 0;
    font-size: 12px;
    margin-right: 8px;
    border-radius: 50%;
    /* padding-left: 8px; */
}